<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<location path="NewTask.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="ListTask.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="ViewTask.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime/>
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" timeout="2880" />
		</authentication>
	</system.web>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IService" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:61674/Service.svc/Service"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
    contract="ServiceReference1.IService" name="BasicHttpBinding_IService" />
  </client>
  <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Fabric" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>